body {
    background-color: aquamarine;
}
 #hamburgerPic {

    width: 80%;
    height: auto;
} 
h1{
    text-align: center;
}

#eatenBurger {
    padding-top: 25px;
}
.flex-container {
    background-color: pink;
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
}